body {
    background-color: #fffbf7;
}

h1 {
    font-family: montserrat;
    font-size: 30pt;
    color: #46484c;
    text-align: center;
}
h2 {
    font-family: montserrat;
    font-size: 20pt;
    color:blue;
}

p {
    font-family: montserrat;
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}
label{
    font-family: montserrat;
}
input{
    font-family:raleway;
    border-radius: 50px;
    border-width: 1px;
    width: 150px;
    height: 20px;
}
.formulario button {
    font-family: montserrat;
    color: #fff;
    background-color: #025157;
    border-radius: 50px;
    height: 30px;
    width: 150px;
}

.header {
    font-family: montserrat;
    margin: 40px 20px 0 20px;
    font-size: 0;
    line-height: 45px;
  }
  
  li {
    display: inline;
    margin: 0 25px 0 25px;
  }

  .header > * {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 100%;
      line-height: 45px;
  }

  .logo {
      width: 15%;
  }

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}
.menu-item {
    display: inline;
  }
.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.actions > * {
    margin: 0 10px 0 10px;
  }
.actions a {
    color: #67b54b;
  }
  .actions button {
    font-family: montserrat;
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
  }